spring:
  application:
    name: config-servers
  profiles:
    active: native
    cloud:
      config:
        server:
          native:
            search-locations: classpath:/config

server:
  port: 8071

management:
  endpoints:
    web:
      exposure:
        include: "*"